[2014-01-05 01:41] nilgradisnik opened #1 "Alarm"
High/low price alarm. Threshold should be configurable from the Preferences window.
Alarm should fire Ubuntu notification.

[2014-01-05 01:45] nilgradisnik opened #2 "Persistent Preferences"
Values set in the Preferences dialog should be persistent. Probably using DConf.

[2014-01-05 01:47] nilgradisnik opened #3 "Easy way of adding new exchanges"
There should be an easy way for other developers to implement new exchanges and include them into the repo.

[2014-01-06 03:21] #2 closed, assigned to nilgradisnik

[2015-11-26 15:39] bkmeneguello opened #4 "Current bid price in tray icon"
Print the bid price along side the tray icon

[2017-08-26 15:25] algorithmcode opened #8 "Nice Project! Could you add BitYep Price?"
Price API:
https://bityep.com/api/1/ticker

Thanks!

[2017-08-30 01:28] bluppfisk opened #10 "App freezes after suspend/resume"
When suspending and resuming the computer, the app is unresponsive. Prices stay and no functionality (not even quit) works.

[2017-08-30 01:28] bluppfisk opened #11 "Cannot change individual settings when using startmany"
I can work on this, but it will change how settings are set.

[2017-08-30 01:29] bluppfisk commented on #8
I can add this later this week

[2017-08-30 17:52] bluppfisk commented on #8
BitYep support added in my newest commit (in the fork https://github.com/bluppfisk/coinprice-indicator). You can download that one or wait a bit until @nilgradisnik pulls this commit into the master branch.

Had to change quite a few things in order to achieve this. One is the use of an standardised format to refer to the asset pair: XXBCZXBT (X = from, Z = to; XBC = Bitcoin Cash, XBT = Bitcoin) -

[2017-08-30 17:55] bluppfisk commented on #8
PS, run `make install` again to ensure that the settings file also includes the bityep setting. Somehow I don't really like this, I'd like to rewrite the whole settings thing.

[2017-08-30 18:25] bluppfisk commented on #11
solved in latest commit on bluppfisk/coinprice-indicator 33d1173

[2017-08-30 18:26] #11 closed

[2017-08-31 17:09] sebster commented on #10
I consistently have this issue... I suspend twice a day, and it fails almost every time. Seems it needs to be suspended for a while though before it fails (just closing the lid and opening 30 seconds later does not cause the issue). I don't know if there is an error log somewhere, I will try redirecting stdin and stderr to a log file and see if I get any messages.

[2017-09-01 00:33] bluppfisk commented on #10
Hm you're right. I've just been able to be reproduce it again. I'll reopen and look into what can be done when the app receives the suspend or resume signals if I have some time later this week.

If you could get some logs, that would be most helpful!

[2017-09-01 04:33] bluppfisk commented on #10
Hm you're right. I've just been able to be reproduce it again. I'll reopen and look into what can be done when the app receives the suspend or resume signals if I have some time later this week.

If you could get some logs, that would be most helpful!

[2017-09-02 04:19] bluppfisk commented on #10
@sebster

I just had my laptop closed for 3 hours and the app resumed normally after reopening the lid.
Are you running it backgrounded (i.e. with the unix & operator) or foregrounded?

[2017-09-02 05:15] bluppfisk commented on #8
Added

[2017-09-02 05:15] #8 closed

[2017-09-02 06:28] sebster commented on #10
I'm running it in the background.

[2017-09-02 06:34] bluppfisk commented on #10
@sebster  Thanks. I'll go sleuthing around. Let me know if you have any logs

[2017-09-02 06:45] sebster commented on #10
The redirect of stdout and stderr unfortunately hasn't given me any log lines even when it fails...

[2017-09-02 06:47] bluppfisk commented on #10
Hm yes, same here.
How often are you able to reproduce this? And is your computer hibernating or just sleeping? I'm at a loss as to what might cause it.

[2017-09-02 06:49] sebster commented on #10
It happens a lot during the week when I take my computer to work and back and close the lid. It's just sleeping then.

[2017-09-02 12:53] bluppfisk commented on #10
I've a bit of new information. I just had it seemingly stall on me while I was using the computer. Maybe it was just a network error for a while, maybe it was stalling. At any rate, after foregrounding and re-backgrounding the process, it continued. @sebster can you confirm that this works the next time it happens to you?

[2017-09-03 06:15] sebster commented on #10
I'll check this out tomorrow. Meanwhile I discovered that python wasn't logging the redirected logging output because it buffers stdout. I've turned off the buffering with the -u option, so if I get some relevant logging I'll post it here.

[2017-09-05 13:38] bluppfisk commented on #10
@sebster any news? If it still happens, also try pulling the new set-up. Although I'll have to refactor the code a bit after this.

[2017-09-06 05:10] sebster commented on #10
Still had the old code, but these were the logs. Note that it actually was working after 18:02 until 18:22 but then I closed my laptop and was broken after that. No more logs were received... I'll upgrade and restart and see what happens next time.

2017-09-05 18:01:57 HTTPSConnectionPool(host='api.kraken.com', port=443): Max retries exceeded with url: /0/public/Ticker?pair=BCHEUR (Caused by NewCo

[2017-09-07 01:39] zzks commented on #3
how can i add bcc(bhc)?

[2017-09-07 03:12] bluppfisk commented on #3
@zzks I think Bitcoin Cash is already there (on Kraken)

[2017-09-13 04:18] zzks opened #15 "AttributeError: 'Indicator' object has no attribute 'active_asset_pair'"
ubuntu14, "make install" was working, but "make" failed to start the application, error messages are:

python3 coin/coin.py
INFO:root:Coin Price indicator v0.3.0
Traceback (most recent call last):
  File "coin/coin.py", line 140, in <module>
    coin = Coin()
  File "coin/coin.py", line 64, in __init__
    self.add_indicator()

  File "coin/coin.py", line 106, in add_indicator
    indicator.start(

[2017-09-13 17:08] bluppfisk commented on #15
For me it works, but I already have settings for the app in dconf, so my results may be skewed. Have you tried starting it with `python3 coin/coin.py asset=kraken:XXBTZEUR:30` or any other asset?

[2017-09-14 00:47] zzks commented on #15
@bluppfisk `python3 coin/coin.py asset=kraken:XXBTZEUR:30` works, THX a lot!

[2017-09-14 03:29] bluppfisk commented on #15
@zzks cool; after this, just `make` should work too. But this reminds me I have to find out what is causing this.

[2017-09-22 16:33] Drowze commented on #15
Same problem here. `kraken` seems to be working though.

With Kraken (working):
[code]

With defaults (not working):
[code]

[2017-09-25 19:40] sebster commented on #10
I haven't seen the issue in a while, so for me this issue can be closed.

[2017-12-03 10:06] bluppfisk commented on #10
Closing for now, code needs a serious overhaul though that will probably help disappear this issue.

[2017-12-03 10:06] #10 closed

[2017-12-03 19:38] eehlers commented on #15
i have the same error reported here.
then if i try to start it with
python3 coin/coin.py asset=bistamp:XXBTZEUR:30
it fails with an error.
if i start it with kraken it seems to start OK.  if i try to change the exchange to bistamp it emits an error to stdout and stays on kraken.  after that if i change the refresh rate it also switches the currency from EUR to USD.

[2017-12-04 06:58] #15 closed

[2017-12-04 06:59] bluppfisk commented on #15
happened when you used an uppercase letter, fixed now.  Also, bitstamp needs that 't' in there for it to work correctly.

[2017-12-04 07:04] bluppfisk opened #20 "Slow changes in UI and messy code"
When requesting a GUI item to be updated (e.g. summon about box, change ticker data ...) the GUI responds very slowly. Presumably because the http requests are blocking. I've tried threading but I obviously don't really understand how this is to work together with GTK.

Secondly, the code is in need of urgent cleanup. It needs to be way more flexible and extensible than now. I don't really have th

[2017-12-04 21:57] eehlers commented on #15
[code]

[2017-12-05 07:02] bluppfisk commented on #15
my bad, I was experimenting with something and left a reference to grequests. Fixed now :)

[2017-12-05 08:19] eehlers commented on #15
thank you :)

now when i do...

[code]

... it seems to start up successfully and i see the widget in the toolbar.  but it's on USD even though i said EUR at the command line.  and on the menu the only option is USD, no way to switch to EUR.

[2017-12-05 09:03] bluppfisk commented on #15
Hi Eric

Bitstamp only offers USD-BTC rates, no EUR. Of course, the program should fail gracefully with an error, but we're not quite there yet :)

[2017-12-07 21:58] Alexeyisme opened #21 "Having trouble running make"
Hi!
Running `python3 coin/coin.py` i get this output:
[code]

What should I do to make it work?

[2017-12-08 06:16] Alexeyisme commented on #21
Fixed partially it by adding:
[code]
to `resources/org.nil.indicator.coinprice.gschema.xml` and then `make install` again.

[2017-12-08 07:03] bluppfisk commented on #21
Should be fixed with latest commit :)

[2017-12-09 00:14] volandku opened #23 "cant run on ubuntu 16"
python3 coin/coin.py file=startmany-btx.yaml
Traceback (most recent call last):
  File "coin/coin.py", line 5, in <module>
    import os, signal, yaml, sys, logging, gi
ModuleNotFoundError: No module named 'gi'

If i run as sudo - something works but i cant see in tray

[2017-12-09 03:36] bluppfisk commented on #23
hi @volandku , you need to run `make install` first or at least install the python3 modules. Without the python modules, the app won't run.

[2017-12-09 04:33] volandku commented on #23
Yes. I did it.
May be the reason is Py 3.6.3 Anaconda.
Also I tried 3.5 - but there was an error in **print url**  - missing parameter

[2017-12-09 04:39] volandku commented on #23
`python3 coin/coin.py
Traceback (most recent call last):
  File "coin/coin.py", line 5, in <module>
    import os, signal, yaml, sys, logging, gi
  File "/home/sergey/anaconda3/lib/python3.6/site-packages/gi/__init__.py", line 39
    print url
            ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print(t url)?
`

[2017-12-09 05:22] bluppfisk commented on #23
Hi Sergey, this is made for Python 3, won't work if you run it with a version of Python that requires different syntax.

[2017-12-09 05:23] bluppfisk commented on #23
Also make sure you install dependencies with pip3, not pip as this might install dependencies for python2

[2017-12-09 06:06] volandku commented on #23
Python 3.5 is not 3?
`python3.5 coin/coin.py
Traceback (most recent call last):
  File "coin/coin.py", line 5, in <module>
    import os, signal, yaml, sys, logging, gi
  File "/usr/local/lib/python3.5/dist-packages/gi/__init__.py", line 39
    print url
            ^
SyntaxError: Missing parentheses in call to 'print'
`

[2017-12-09 06:12] bluppfisk commented on #23
Sounds like the module you have is for the wrong version of Python. Try
installing or reinstalling for Python 3!

On 9 Dec 2017 14:06, "Sergey Bolotov" <notifications@github.com> wrote:

[2017-12-11 19:38] bluppfisk commented on #21
assumed fixed

[2017-12-11 19:38] #21 closed

[2017-12-11 19:38] bluppfisk commented on #23
closing as this seems beyond our power

[2017-12-11 19:38] #23 closed

[2017-12-12 20:22] bluppfisk commented on #4
That would make it quite messy with the current setup. Maybe we can make a setting for which value to show in the tray.

[2017-12-12 21:46] bluppfisk commented on #20
First part is dealt with in v0.5.0 (commit c20aa0f) ; 2nd part is partly addressed by version 0.6.0

[2017-12-13 06:19] bluppfisk opened #27 "KeyError when loading new asset before previous asset was loaded"
This is due to the asynchronous nature. Sometimes the active asset pair of an exchange has already changed and the correct key cannot be found in the response to the request that was fired before the asset pair was changed.

Solutions may include:
- checking validity of a response (whether or not it belongs to the currently active asset pair)
- setting up a control structure rather than functions

[2017-12-14 04:21] bluppfisk commented on #23
Hi @volandku you may want to try uninstalling the gi module (pip3 uninstall gi) and installing the python3 package through apt:

sudo apt install gir1.2-appindicator3-0.1

then launching again

[2017-12-14 13:25] #27 closed

[2017-12-14 14:05] bluppfisk opened #28 "Better asset selection"
It would be better if you could select assets as follows:

source currency > target currency (limited by source) > exchange (limited by source and target)

[2017-12-21 07:11] #3 closed

[2017-12-21 09:28] bluppfisk opened #29 "Add discovery of asset pairs"
Rather than making contributors hardcode all the possible asset pairs, write a routine that lets exchanges discover the available pairs (at first run, and at user initiative afterward)

[2017-12-21 20:29] bluppfisk commented on #4
@bkmeneguello better late than never. You can now click on any of the price items (bid, ask, low, high, now) and that price point will become the label

[2017-12-21 20:29] #4 closed

[2017-12-29 22:21] sirajuddin97 commented on #1
Need help with this?

[2017-12-29 22:22] bluppfisk commented on #1
@sirajuddin97 I'd welcome any contributions to the project :)

[2017-12-29 22:23] sirajuddin97 commented on #1
I will give it a shot soon. :-)

[2017-12-29 22:24] sirajuddin97 opened #33 "Other coins disappear on the top bar"
Let's say I add four tickers: BTC, ETH, LTC and XRP. When I restart my PC or restart coinprice-indicator, all coin tickers disappear except the main one (BTC). I have to re-add the tickers every time I restart, why is that? I'm on Ubuntu 16.04 LTS by the way.

[2017-12-29 22:25] bluppfisk commented on #33
@sirajuddin97 you can configure which tickers are loaded by editing startmany.yaml and then running the app with `make many` or `python3 coin/coin.py --file=startmany.yaml` that way it will always start the same tickers.

[2017-12-29 22:26] sirajuddin97 commented on #33
Oh.. I wasn't aware of that. Thanks @bluppfisk!

[2017-12-29 22:26] #33 closed

[2018-01-04 11:08] bluppfisk commented on #10
@sebster just in case you had the issue again -- I think my recent code changes should fix most of that. It now also refreshes the exchanges after resuming from sleep.

[2018-01-26 08:58] bluppfisk commented on #1
fixed in #37

[2018-01-26 08:58] #1 closed

[2018-01-28 04:38] bluppfisk commented on #29
working on this in the feature/discovery branch (see commit 8e273f0 for a first taste)

[2018-01-30 14:12] #28 closed

[2018-01-30 14:14] #29 closed

[2018-01-30 14:16] bluppfisk opened #38 "Write discovery routines for all exchange plugins"
I wrote one for Kraken to begin. Now the others also need discovery routines.

[2018-01-30 20:36] #38 closed

[2018-01-30 20:37] bluppfisk opened #39 "Asset menu is too big, creation takes too long"
Come up with a better asset selection method, maybe dialog-based

[2018-02-09 10:52] bluppfisk commented on #39
fixed in commit b305800
Asset menu was regenerated multiple times causing the GUI to crash in most occasions.
Added a 'recents' section to the top of the assets menu.

[2018-02-09 10:52] #39 closed

[2018-03-14 07:58] dcam0050 opened #41 "Custom conversion"
Say you have the ticker price for eth to usd and that for another cryptocurrency to eth, would it be possible to add a feature to convert the other cryptocurrency to usd?

[2018-03-14 08:10] bluppfisk commented on #41
hello Daniel, not sure what you mean?

[2018-03-14 11:34] dcam0050 commented on #41
As an example say I want the price of Nebl in USD but Nebl is only
available as Nebl / ETH is there a way I can chain 2 exchanges together
Nebl / ETH and ETH/USD to get Nebl/USD in the indicator?

On 14 March 2018 at 08:10, bluppfisk <notifications@github.com> wrote:

[2018-03-17 09:13] bluppfisk commented on #41
Hi Daniel that makes sense. I'll implement it when I have some time (which may not be in the next 2 weeks).

[2018-04-20 07:03] bluppfisk opened #42 "Cannot rebuild Recents menu"
Recents menu should be rebuilt each time an asset is selected, but somehow it doesn't seem to work. Any help would be appreciated. I have a related question open at Stackoverflow: https://stackoverflow.com/questions/48703019/replacing-a-gtk-menuitem-with-another

[2018-04-20 07:05] bluppfisk opened #43 "Slow enu building and submenus not working in GNOME 3"
In Ubuntu 17.10 with GNOME 3, it is impossible to select assets as submenus are not correctly shown. Moreover, building the menu is most likely what stalls the program for a while. There may simply be too many menu items and I'm looking to building a settings window instead where you can select the assets from a (searchable) dropdown.

[2018-04-29 23:53] ghettodev commented on #43
Hope you guys don't object to bounties. I can remove it if you do, but seemed OK as there is a 'help-wanted' label.

For bounty hunters, this was stripped from my description:

---

Successful bounty must include:
- accepted merge from project owner
- tray app fully working in ubuntu 18.10/Gnome 3 with a clean install
- user must be able to easily add btc/eth indicators to the tray app
- remove la

[2018-04-30 05:30] ghettodev commented on #43
Happy to have found a way to contribute. Thanks to you and @nilgradisnik for the great app.

Hope it gets the recognition it deserves.

[2018-05-02 10:28] bluppfisk commented on #43
Hello! While I've not addressed the original issue of nested menus in GNOME 3 (would love to know what's wrong there and even grab that bounty :skull_and_crossbones: ), I've for now taken a tentative different approach that I think is more sensible for lists as huge as this: through a settings window with three different lists from which you can select an asset to display.

![Looks a bit like this

[2018-05-02 12:34] bluppfisk commented on #43
Update: the app runs very smoothly in GNOME 3, although the way the status bar is done in GNOME 3 means you can only have so many indicators at he same time. Five seems to be the maximum on my htpc running Ubuntu 18.04.

**NOTE:** If you run into any errors, please clear your user.conf file and perhaps even any exchanges/*.conf files before using this version.

[2018-05-02 17:22] bluppfisk opened #44 "adding indicator after removing penultimate indicator causes error"

[2018-05-02 17:23] bluppfisk opened #45 "warning when removing indicators while API call fails"

[2018-05-02 17:25] bluppfisk commented on #44
fixed in 60873f30b95db36f0e4afc0710386b16bcccf56d

[2018-05-02 17:25] #44 closed

[2018-05-02 17:31] #45 closed

[2018-05-02 17:51] bluppfisk opened #46 "Fatal error when user.conf specifies an asset pair that isn't available"
In case user.conf specifies an asset pair that isn't available because asset discovery hasn't been run or has produced different asset pairs, a fatal error occurs. Should run with a default instead.

[2018-05-02 18:01] #46 closed

[2018-05-02 19:29] ghettodev commented on #43
Oh wow. Works great for me. Love the asset picker. And no more lag or appindicator warnings. This feels like a bounty winner to me. Now I can go back to being stressed out at work all day ;)

I think you have to go to https://gitcoin.co/issue/nilgradisnik/coinprice-indicator/43/336 (and make sure you have some kind of web3 app going) and then click the start work button. Not sure what happens afte

[2018-05-02 20:34] bluppfisk commented on #42
will reattempt a slimmer recents menu after v1.7 did away with the assets menu.

[2018-05-02 22:56] ghettodev commented on #43
It's my first time setting a bounty as well. Futuristic...

It will be cool to see how the wider community picks up on this kind of opensource support; people who have resources can finance a feature, and then everyone gets to benefit. Seems like a no-brainer to me.

No need to make a sponsors thing on my account, but might be an idea for your project in general to make some reference to gitcoin t

[2018-05-05 08:00] #42 closed

[2018-05-05 08:01] bluppfisk opened #48 "Recents menu"
A menu with a few recent asset selections

[2018-05-05 13:01] bluppfisk opened #49 "Asset picker: using "Set" and then "Set and Close" picks wrong asset"
as per title. will fix soon

[2018-05-08 04:28] bluppfisk commented on #49
Seem to be unable to reproduce now. Maybe it was a temporary quirk.

[2018-05-08 04:28] #49 closed

[2018-05-11 14:24] fbirlik opened #50 "readme - git url requires authentication"
Following part of the doc requires authentication.
git clone git@github.com:nilgradisnik/coinprice-indicator

Replacing it with https URL lets anybody download it without any github config on their machines.
git clone https://github.com/nilgradisnik/coinprice-indicator.git

[2018-05-12 07:31] #50 closed

[2018-05-12 07:31] bluppfisk commented on #50
Good point, thanks for reminding me. Fixed now :)

[2018-05-13 23:58] DahmaniAdame opened #51 "Where can I control the ticker label?"
I would like to have the pair after the price and the opposite and add a space too.

Thanks!

[2018-05-14 04:42] bluppfisk commented on #51
Hello Adame

Not sure what you mean.

The ticker label is set in different locations, currently, depending on user action. E.g. on line 77 of indicator.py, you'll find:

`self.indicator_widget.set_label(label, label)`

If you mean you're cloning and you want to permanently change how the label looks, I suggest you abstract this away in a function that also adds a space. I assume you're on GNOME3 w

[2018-05-14 07:30] bluppfisk opened #52 "add menu item that shows current state"
eg. Kraken: BTC-EUR

[2018-05-14 07:43] #52 closed

[2018-05-14 10:54] #48 closed

[2018-05-15 14:51] bluppfisk commented on #20
partially alleviated in 089c243c9cd810c4989c8375312d73915a495b99

[2018-05-16 09:46] bluppfisk commented on #41
Note to self:

This requires rewriting the exchange class to be less tightly coupled to the indicator class, so that the exchange class has control over the number of API requests sent. Some APIs will ban the client if there are too many requests (e.g. when additional requests are necessary to convert BTC -> USD in order to figure out what a more obscure coin in USD is).

[2018-05-17 15:05] bluppfisk opened #53 "Exchange (plugin) selection tool"
should be able to deselect exchanges that you don't want to see assets for.

[2018-05-21 07:34] bluppfisk commented on #51
closing after 1 week without further queries

[2018-05-21 07:34] #51 closed

[2018-05-22 12:37] DahmaniAdame commented on #51
Sorry for the delay.

Thanks for your replay. Was really useful.

[2018-05-26 08:38] weberV commented on #43
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 100.0 DAI (100.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/nilgradisnik/coinprice-indicator/43/336).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or th

[2018-06-06 22:36] bluppfisk opened #54 "Websocket support"
While using my phone hotspot the other day, I noticed how much data the REST API takes with 5 tickers and 3s refresh rate: constantly pulling at 10-15KBps. Websockets should minimise the amount of bandwidth.

[2018-09-03 11:06] bluppfisk opened #55 "INR support"
support for Indian Rupee (INR) currency symbol

[2018-09-03 11:07] bluppfisk commented on #55
added in 86901b8376699848120a6f2ec320a0554ab59acd, despite there not being any plugins for exchanges that have quote prices in INR

[2018-09-03 11:07] #55 closed

[2018-09-04 05:37] s1-ranjan opened #56 "New Crypto Icon"
I have found a very good collection of Icon set on Github located at --> [AllienWorks](https://github.com/AllienWorks/cryptocoins)
I consider by using this icon set will add support for many new Icons in this application.

[2018-09-04 06:13] bluppfisk commented on #56
Thanks for these. I won't use them because
* I personally prefer the coloured icons, and
* LibAppIndicator does not support SVG images.

However, if you put in the time to turn them into PNG images, you can simply save them into the **resources** folder of your installation, as **asset.png** (where asset is the abbreviation of the asset in lowercase, e.g. btc.png, eos.png). When you restart the in

[2018-09-04 06:13] #56 closed

[2018-09-10 13:02] vkapas opened #57 "pygame installed but doesn't load"
[code]

Requirement packages is installed.
[code]

I'm using fresh Coin Price Indicator repository clone.
OS Ubuntu 16.04.5

[2018-09-12 00:33] bluppfisk commented on #57
did you run **./install.sh** first?

[2018-09-12 17:36] vkapas commented on #57
Sure, I did.
[code]

[2018-09-13 07:56] bluppfisk commented on #57
The installation fails because you don't have Python3. Unfortunately, this software will only run with python3. I've fixed the install script in 0f921dce23b741fe31f94b7ba474c9978863225e to make sure only python3 is used (if you have it!)

[2018-09-13 07:56] #57 closed

[2018-09-13 15:37] vkapas commented on #57
Thanks for help.

I've update **install.sh** script and run it again:
[code]
Then I've installed **python3-venv** with apt-get.

At this time installation script worked but again with errors:
[code]

Running indicator:
[code]

[2018-09-13 15:53] vkapas commented on #57
So, I've installed **python3-dev** package since the script wrote that it needed a this package. But installation script failed again.
[code]

[2018-09-14 03:46] bluppfisk commented on #57
This is strange. You're still not using python3. Can you just enter `python3 -m venv ./` on the commandline while in the coinprice-indicator folder?

[2018-09-14 10:48] vkapas commented on #57
Hmm.
[code]

[2018-09-15 11:48] bluppfisk commented on #57
I don't think you have installed python3 properly, but you can try typing the contents of **install.sh** line by line into your terminal and tell me what you see.

[2018-09-16 04:32] bluppfisk commented on #57
right. So can you type line by line and copy the output?

[2018-09-16 13:56] vkapas commented on #57
Here it is
[code]

[2018-09-17 08:35] vkapas commented on #57
Oh sorry, I misunderstood you... Is this what do you need?
[code]

[2018-09-17 10:16] bluppfisk commented on #57
Thanks! Could you start over, delete the folder and pull fresh from github and try running the **install.sh** again? I removed the 2nd line, must've accidentally stayed in there.

[2018-09-17 21:29] vkapas commented on #57
Thanks for help. Unfortunately, no success, again.
1. I've totally delete coinprice-indicator folder.
2. Make git clone https://github.com/nilgradisnik/coinprice-indicator.git
3. cd to folder then run ./install.sh
4. There is same errors in log.
[code]

[2018-09-19 13:32] vkapas commented on #57
There is some new errors in log. But no success, again.
Im on Ubuntu 16.04.5.
[code]

[2018-09-19 15:30] bluppfisk commented on #57
Hmm I was trying it out on my headless Ubuntu server and got similar issues. Looks like missing dependencies.

try
`sudo apt install libdbus-glib-1-2 gir1.2-gtk-3.0 gir1.2-appindicator3-0.1`
and then install and run again.

[2018-09-20 16:46] vkapas commented on #57
Well this packages already installed in my system.
[code]

[2018-09-21 04:59] bluppfisk commented on #57
ok now create the virtual environment with system packages as done in the new commit in the install file

[2018-09-21 12:49] corpetty opened #58 "feature request: percent change alert"
I'd like to be able to set alerts based on percent price change.  This requires some local storage potentially, or it can be naive and only alert within the timeframe of price update initially. Setting this would be a bonus.

[2018-09-21 12:55] corpetty opened #59 "Feature Request: See set alerts"
I'd like to be able to see what alerts I've set, and if I can't set more than one of them at a time (not obvious at this point), I'd like to be able to do that.

[2018-09-21 13:48] chrisplusplus commented on #57
I'm experiencing this same issue - same setup as OP

[2018-09-21 14:06] chrisplusplus commented on #57
I found another dependency that helped me resolve these issues

`sudo apt-get install libcairo2-dev`

[2018-09-21 18:37] vkapas commented on #57
I can confirm this solution. After I've installed package **libcairo2-dev** indicator was successfully launched without any errors.

_(In this time installation script showed just 1 error — "Failed building wheel for vext.gi".)_

[2018-09-21 18:41] chrisplusplus commented on #57
I also saw the same error yet the indicator was launched without issue.
Pull request added
I will submit a pull request with libcairo2-dev as a requirement

[2018-09-23 03:13] bluppfisk commented on #57
Thanks for this. I was hoping that all dependencies could be included in the virtual environment (so that you could run the software without superuser privileges), but clearly that is not the case. Oh well, I'll go back to including those packages in the install script.

[2018-09-26 09:09] beertastic opened #61 "ModuleNotFoundError: No module named 'notify2'"
I've run your exact instructions on an Ubuntu 18.04
I get this error:
ModuleNotFoundError: No module named 'notify2'

I'm not a python dev or know what is going on here.. any thoughts on this bug when I rollow your steps and get this error after I use

./run.sh

Cheers!

[2018-09-26 14:10] chrisplusplus opened #62 "Request: add XLM image to resources."
![xlm](https://user-images.githubusercontent.com/526655/46085555-49017700-c174-11e8-8a15-3a9867ecb8fe.png)

[2018-09-27 04:27] bluppfisk commented on #61
Hi @beertastic, there seems to be a bit of trouble with the dependencies. I'm going to try setting up an empty container in which I can experiment and see what works best, but I'm a bit low on time. For now you can probably activate the virtualenv (`source bin/activate`) and then run `pip3 install notify2`. That might fix it. Let me know how you fare.

[2018-09-27 04:27] bluppfisk commented on #59
This would require some re-authoring which I'm happy to do at some point when I have more time. In the meantime, I do accept Pull requests :)

[2018-09-27 04:30] bluppfisk commented on #58
This too would require reauthoring the alerts and more stuff in memory. I'll look into it, but again: when I have more time :)

[2018-09-27 07:18] beertastic commented on #61
Sadly, no effect.. (Had to install pip3 first)
But no, here is my new error:

Traceback (most recent call last):
  File "coin/coin.py", line 9, in <module>
    import yaml
ModuleNotFoundError: No module named 'yaml'

I tried to run pip2 install yaml
I got this error:

Collecting yaml
  Could not find a version that satisfies the requirement yaml (from versions: )
No matching distribution found for

[2018-09-27 07:30] bluppfisk commented on #61
This is a Python3 app. Running pip2 is for Python2. Please try with Python3 and make sure you're in the virtual environment! Please post output, too.

[2018-09-27 07:34] beertastic commented on #61
I meant pip3... sorry.. UK based here,.. coffee still in hand and not in blood yet.

[2018-09-27 07:35] beertastic commented on #61
On my ubuntu machine, when I run `source bin/activate`
I get this: (coinprice-indicator)
BEFORE my user@machine prompt.. is that meaning I'm in the VE?

[2018-09-27 08:54] bluppfisk commented on #61
That's correct :)

[2018-09-27 09:10] beertastic commented on #61
Cool... so, yes, I'm in the correct VE ... to confirm, ths is my new error:

Collecting yaml
Could not find a version that satisfies the requirement yaml (from versions: )
No matching distribution found for yaml

[2018-09-27 14:35] bluppfisk commented on #61
Can you try `pip3 install pyyaml` instead?

I was under the impression people drank tea in the UK :)

[2018-09-27 14:39] beertastic commented on #61
I get this:

Requirement already satisfied: pyyaml in /usr/lib/python3/dist-packages

[2018-09-27 14:40] beertastic commented on #61
Morning coffee.. afternoon tea.. I think that's the rule :)

[2018-09-27 14:42] bluppfisk commented on #61
Oh good rule!
How about if you run `./coin/coin.py` now? :octopus:
I'm a bit at my wits' end here. Perhaps I should read up on how Python dependencies work.

[2018-09-27 14:42] bluppfisk commented on #61
(while in the venv)

[2018-09-27 14:43] beertastic commented on #61
Traceback (most recent call last):
  File "./coin/coin.py", line 9, in <module>
    import yaml
ModuleNotFoundError: No module named 'yaml'

it's all good.. I do check the sites often for prices (Come on XRP) or just shout COX from the rooftops!

[2018-09-27 16:19] chrisplusplus commented on #54
Coincidentally, I'm doing a lot of websocket dev at work so it's fresh on my brain.  I'll take a look when I have some spare time

[2018-09-28 20:39] bluppfisk commented on #54
at the moment I have very little time to work on this project so I would very much welcome any contribution. You can check out my 'websocks' branch where I got something rudimentary going. But the issue is getting it to run properly (and reliably) in a GUI environment. If you have any ideas on that, I'd love to try and implement!

[2018-09-28 20:40] bluppfisk commented on #61
your neighbours (<-- look, a 'u') are of the understanding kind!

I will have look into the problem, but currently not enough time to do so. You'll hear about it here when I find a solution!

[2019-01-25 12:34] bluppfisk commented on #54
hi Chris; have you ever looked into this? Kraken is soon supporting Websockets so it'd be fun to integrate it

[2019-03-26 17:45] eehlers opened #63 "./install.sh: line 6: vext: command not found"
after i do git clone, i attempt to install as per the documentation, this fails with:

./install.sh: line 6: vext: command not found

[2019-03-26 17:58] eehlers commented on #57
i get all the same errors described by vkapas, but installing libcairo2-dev does not fix it for me.

[2019-04-01 20:11] bluppfisk commented on #63
That probably means vext was not installed from the requirements. You may want to try running it again or install it with `pip3 install vext` (while you're in the virtual environment and have it activated).

I unfortunately don't currently have time to try replicating your situation but the above might work?

[2019-04-25 20:25] bluppfisk commented on #63
Hi @eehlers , I've been toying with it again. Perhaps your version of Python does not include vext. I'm currently on Python3.7 but Python3.6 worked fine too. Can you remove the lib, bin and share directories and try installing again? You could also run the various statements in install.sh manually.

[2019-04-25 20:27] bluppfisk commented on #61
Hi @beertastic: if you're still attempting to use the software, I think the new release might fix it a bit.  Perhaps your version of Python does not include vext. I'm currently on Python3.7 but Python3.6 worked fine too. Can you remove the lib, bin and share directories and try installing again? You could also run the various statements in install.sh manually.

[2019-06-03 07:18] #63 closed

[2019-06-03 07:18] #61 closed

[2019-06-30 17:27] MLXXXp opened #65 "install.sh fails (dbus-python?) on 2 of 3 Ubuntu 16.04 Unity"
I have three systems running Ubuntu 16.04 with Unity 7, all set up fairly similarly. On the first system, _install.sh_ runs without errors and the indicator works fine using _run.sh_. On the other two systems, _install.sh_ fails in the same way. The last line of console output is:
`./install.sh: line 6: vext: command not found`
(so this may be a duplicate of issue #63)

Between the working system

[2019-07-02 22:50] bluppfisk commented on #65
Hi

Have you tried doing a pip install wheel in the virtual environment? My impression from reading the logs is that you may not have that installed (hence the wheel building that fails). You may also need to upgrade pip to the latest version (also inside the virtual env) or even install the python dev package.

Would appreciate you trying the above (maybe even step by step) and trying to rerun th

[2019-07-03 16:56] MLXXXp commented on #65
Problem solved!

Upgrading _pip_ to the latest version or installing _wheel_, in the virtual environment, didn't help.

I turns out that two Ubuntu packages were missing.

When I saw the error about installing the development version of Python, I verified that package _python&#8209;dev_ had been installed. I didn't clue in to the fact that I actually needed package
**python3-dev**

Once _python3-d

[2019-07-03 16:56] #65 closed

[2020-04-03 12:32] paul-onof opened #66 "How to remove this app"
Hi,

I tried to install this on my fedora but then I found another app for gnome shell...
How could I remove this app please ?

Thanks for your help.

[2020-04-03 14:11] bluppfisk commented on #66
Hi Paul

Just remove the folder where you put it :)

/S

On Fri, Apr 3, 2020 at 2:32 PM paul-onof <notifications@github.com> wrote:

[2020-04-07 17:22] #66 closed

[2020-04-25 09:39] gavinito opened #67 "doesn't install on Ubuntu 20.04"
(coinprice-indicator) gavin@Inspiron:~/coinprice-indicator$ ./install.sh
Reading package lists... Done
Building dependency tree
Reading state information... Done
gir1.2-appindicator3-0.1 is already the newest version (12.10.1+20.04.20200408.1-0ubuntu1).
gir1.2-gtk-3.0 is already the newest version (3.24.18-1ubuntu1).
libcairo2-dev is already the newest version (1.16.0-4ubuntu1).
libdbus-glib-1-2 i

[2020-04-25 09:55] gavinito commented on #67
fixed when install these manually first.
sudo apt-get build-dep python-pygame
sudo apt-get install python-dev

[2020-04-25 09:55] #67 closed

[2020-04-26 14:36] bluppfisk commented on #67
glad you found a way to fix it. I'm a bit loth to change the install scripts since that worked for me on a clean install of Ubuntu 20.04, but I could probably do with a good introduction to distributing python programs :)

[2020-04-26 15:01] bluppfisk commented on #67
Actually; nonsense. I hadn't tried on a fresh 20.04 yet but only on a fresh 19.10. It's this heat. I've now changed the requirements and install scripts which should allow installation on Ubuntu 20.04 Focal Fossa. Thanks for reporting @gavinito

[2020-05-08 08:19] sparshy opened #68 "`Add ticker` gives an error"
When i try to add ticker, I get the following errror

[code]

My user.conf file is

[code]

I am not sure what to add in tickers.

[2020-05-08 10:00] #68 closed

[2020-05-08 10:01] bluppfisk commented on #68
That's a regression and my fault, sorry. It should be fixed with this latest commit, which will also do synchronous discovery when it first starts and  are no data files yet.

[2020-05-08 12:23] sparshy commented on #68
Thanks for the quick fix @bluppfisk

[2020-05-26 23:21] lionzin opened #69 "work on XFCE?"
Does it work on XFCE? I tried to install it on kali linux and I can see the coin symbol, but not the price. if right click on coin icon i can see the price

[2020-05-27 07:46] bluppfisk commented on #69
It should work on any desktop environment that supports AppIndicators. However, how it is displayed may be up to the DE. Can you post a screenshot of how it looks on your side?

[2020-05-27 07:51] bluppfisk commented on #69
You may need something like this: https://goodies.xfce.org/projects/panel-plugins/xfce4-xfapplet-plugin. I'm not sure though as I don't have XFCE around at the moment. I'd be grateful if you could try :)

[2020-05-28 10:09] ilazaridis opened #70 "Number of fractional digits"
Can we somehow have 8 digits after the decimal point displayed ?

[2020-05-29 14:48] lionzin commented on #69
Ty,
I will try to install the plugin you recommended and I will reply soon
screenshot: https://imgur.com/hFo5i9I.png

[2020-06-24 13:05] bluppfisk commented on #69
Assuming this works for you now. Please reopen if I can do anything else.

[2020-06-24 13:05] #69 closed

[2020-07-26 19:58] Tjkeel opened #71 "Piggy Icon"
Is there a way to hide the pig icon and only show the coin/amount that you want?

[2020-08-17 17:43] darthvinyll commented on #71
Same idea, @Tjkeel were you able to figure this out? Changing the piggy icon into something less obtrusive, at least?

[2020-08-17 18:15] Tjkeel commented on #71
The best option I found was to edit the image file and make the piggy icon
white. Deleting it replaced the icon with Gnome's missing icon image.

On Mon, Aug 17, 2020 at 12:43 PM darthvinyll <notifications@github.com>
wrote:

--
T.J. Keel
512-709-1788
www.keel.com

[2020-08-17 20:04] bluppfisk commented on #71
Thanks for the suggestion. However, this would require fairly major surgery in the code and the design. I personally won't be implementing it, but am happy to review any PRs featuring the change.

If it's the piggy itself that's bothering you, @Tjkeel already offered an adequate solution: just overwrite the image files with an image of the same resolution and restart the app.

[2020-08-17 20:06] bluppfisk commented on #70
Numbers are rounded until what I consider a meaningful amount of digits. For BTC to EUR, for instance, you will merely get 2 decimal places as I cannot fathom that anyone cares how many 1000ths of a Euro their stash is worth. But for coins of a smaller value in fiat, you'll see many more decimal places automatically (up to 8 IIRC).

[2020-09-12 12:48] re42 opened #72 "Xubuntu 18.04 - Package 'python3-pygame' has no installation candidate"
Firstly, thank you so much for this amazing simple indicator for Ubuntu.  This is what ive been looking for for a long time!

i just want to mention that ive been having difficulty installing this on a fresh installation of Xubuntu 18.04.
I kept getting this error: `Package 'python3-pygame' has no installation candidate`

Then i went to remove `python3-pygame` from install.sh but then it gave an e

[2020-09-14 09:00] bluppfisk commented on #72
Hi re42, the pygame package is only used to play audio alerts. If you're not seeing the prices next to the icons, this may have something to do with how Xfce handles StatusNotifier items. There may be a setting or a plug-in. On Gnome, KDE and Unity, labels are supported for StatusNotifier items, but I'm not sure about Xfce. I won't have time to find out, but if you do, I'd be happy to include your

[2020-09-15 19:25] re42 commented on #72
@bluppfisk thanks for the clarification.
I have tried all the settings i can in all the indicators in xfce4, unfortunately i cannot seem to get the text-side of it to display.
I saw this issue [here](https://github.com/bluppfisk/coinprice-indicator/issues/69) and i thought i could try that, but it seems that xfapplet is deprecated.
I can however mention that i am seeing the weather text perfectly

[2020-09-20 16:10] bluppfisk commented on #72
Hi @re42 , I looked at that project and it seems to make use of a separate library libxfce4ui to achieve what I do through libappindicator. Maybe I can try to support xfce this way but it would require some investigation. If you're skilled with Python, you're welcome to submit some sample code and I can take it from there.

[2020-09-26 11:34] re42 commented on #72
@bluppfisk thanks for having a look at it.  I would have definitely helped but unfortunately im not 100% skilled in python.  I hope you can find the time soon to be able to investigate this further, cause i really want to use this app.

[2020-11-20 05:12] weiwu-zhang opened #74 "dependencies too much"
With a Ubuntu 20.10 set up that has a lot of desktop software installed, this package still yields the additional:

[code]

Wonder why so many packages are needed?

[2020-11-20 05:15] weiwu-zhang opened #75 "use an aggregated, rich data source"
Would be great to show additional data points such as +4.5% (last 24 hour)

[2020-11-20 05:19] colourful-land commented on #70
Problem is, the meaningful number is different for different tokens.

the default asset loaded is the value of ETH in terms of BTC. It shows 0.027 currently.

This information isn't very helpful, since it barely moves for a long time. Users would appreciate precision like 0.0278.

Didn't find any config options to change the precision.

[2020-11-20 18:17] bluppfisk commented on #70
commit 9536ddd should address this issue. It allows you to adjust the maximum number of decimals as well as the number of significant digits in user.conf. I also set a new default of 3 significant digits. Let me know how you fare with this change :)

[2020-11-20 18:24] bluppfisk commented on #74
This is probably true, but I presently don't have the time to figure out which ones are necessary. Those -dev packages can probably go and be replaced by their non -dev versions, but I'm not sure. Would you be keen to play around with it in a virtual machine? :)

[2020-11-20 18:24] #71 closed

[2020-11-20 18:27] bluppfisk commented on #75
Admittedly, this isn't a bad idea. However, I'm a bit worried about feature creep (and the associated added spaghetti in the already very Italian code). Showing it as part of the dropdown would be relatively easy. Showing it in the menu wouldn't look good and takes up valuable real estate.

What do you think?

[2020-11-20 18:27] bluppfisk commented on #58
linking to #75

[2020-11-22 13:57] colourful-land commented on #75
Let me see if I can find well orchestrated data source for that. My thinking is that this project should focus on representing data, not collecting or ananlysing or calculating data. So if a data source already provide all these we should use it.

This coincide with my work. My day job is αWallet (alphwallet.com) which is an opensource Ethereum wallet and I look out for data sources to help my ope

[2020-11-22 14:07] colourful-land commented on #74
looking at dependencies:

python3-pygame yields

    gfortran python-numpy-doc python3-numpy-dbg python-pygame-doc timidity

libcairo2-dev yields
[code]

libdbus-glib-1-2 yields

[code]

gir1.2-gtk-3.0 yields
[code]

gir1.2-appindicator3-0.1 yields
[code]

Look like libcairo2-dev is the one that has most dependencies. But I'm not seeing it used in the source (is it?)

[2020-11-22 14:10] colourful-land commented on #74
Regarding gir, I failed to see what it does. There seems to be no use of gir in the source code either, unless `grep` isn't the way to look for.

[2020-11-22 14:36] colourful-land commented on #70
Thanks but … I hope @ilazaridis would agree, that when a user is using an indicator app, he actually wasn't expecting that the settings are changed by editing user.conf. examples are fcitx (Chinese input engine), system monitor apps and flameshot. but this is better than not able to change the decimal points for sure.

[2020-11-24 16:30] sgtsquiggs opened #76 "Install successful, yet `ModuleNotFoundError: No module named 'dbus'`"
Install script ran without error but currently seeing:

[code]

Ubuntu 20.04

[2020-11-25 14:22] bluppfisk commented on #76
are you running it using `./run.sh`, through the app launcher or ...?

[2020-11-25 16:21] bluppfisk commented on #70
Fair enough... This is a GUI app after all. I should include a GUI for the settings. State management is horrible/absent at the moment in this application, so I'd rather set this globally than on a per-ticker basis. It will also likely not apply until the next tick comes in.

[2021-01-09 17:48] qwertyuu commented on #75
I'm torn between @bluppfisk's idea and actually wanting the feature. I have a hard time remembering the price of yesterday for the multiple cryptos I own, so having a ratio/diff (such as +/-%) would be very interesting. I could even use that entirely and leave out the actual value, as it's the actual thing that's interesting to me (how much I made or that I lost)

A good way to not let feature cre

[2021-01-13 10:10] vladyslavtereshchuk opened #77 "Missing user.conf after installation/run"
Hello @bluppfisk!

Could you please clarify where I can find user.conf, app work as expected but can't figure out how to save my preferences/assets after reboot needs to set up all again.

Thanks in advance!

[2021-01-13 12:00] bluppfisk commented on #77
Hi. It should be in the project root folder (where run.sh is). I suspect you can just create one. If not, add something like below and store it there as user.conf.

[code]

[2021-01-13 17:16] vladyslavtereshchuk commented on #77
Made me hardcode preferences, and this works! But found that:

`(coinprice-indicator) vt@wlp:~/coinprice-indicator$ pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html
Coin Price Indicator v1.9.9 running!
WARNING:root:Asset Discovery: API server returned an error: 301
WARNING:root:Asset Discovery: Expecting value: line 1 column 1 (char 0)
`
Appear when trying to Di

[2021-01-13 17:20] bluppfisk commented on #77
Try running the asset discovery and see if this happens still afterwards :)

[2021-01-19 15:45] richybtc opened #78 "TERMINAL DATA"
Is it possible to capture the data from the terminal?

[2021-01-19 16:26] bluppfisk commented on #78
this is a GUI application only, but I have another repo which does stuff like this in the terminal. It's very basic but maybe you want to fiddle with it

https://github.com/bluppfisk/cryptosocks

[2021-01-19 16:26] #78 closed

[2021-01-19 16:26] bluppfisk commented on #77
closing for now

[2021-01-19 16:26] #77 closed

[2021-01-19 16:28] bluppfisk commented on #75
Dependency on another data source is something I'm not looking to implement at the moment, but I'll review suggestions and PR's if there are any :) At the moment I'm too busy with my FTJ to make my own.

[2021-02-03 18:41] pooldiver69 commented on #76
have the same issue. neither app launcher or `./run.sh` is working. once run  `./run.sh`, it shows this err message

[2021-02-03 20:02] bluppfisk commented on #76
Try
[code]
or: `sudo apt install python-dbus`

[2021-02-04 02:34] pooldiver69 commented on #76
[code]
shows ERR
ERROR: Could not find a version that satisfies the requirement dbus (from versions: none)
ERROR: No matching distribution found for dbus

And `sudo apt install python-dbus` ran and package installed, but still showing the same err

[2021-02-15 16:04] georgekarapi commented on #76
Also happened to me, after clearing the folder from the files created by setup.py and re-running it was able to make it work

[2021-03-03 20:15] Rexyislive opened #81 "Issues installing? I have Pythin/Git/Pygame installed"
When running, I get the following:

`Traceback (most recent call last):
  File "./coin/coin.py", line 18, in <module>
    from indicator import Indicator
  File "/home/stan/Coinindicator/coinprice-indicator/coin/indicator.py", line 8, in <module>
    from alarm import Alarm, AlarmSettingsWindow
  File "/home/stan/Coinindicator/coinprice-indicator/coin/alarm.py", line 4, in <module>
    import pyga

[2021-04-09 12:09] devaux opened #82 "BAN fetches BAND at Bitfinex instead of correct Banano"
The icon is correct, but it gets the prices from BAND (Bitfinex).
Maybe you can add Mercatox or txbit as a plugin to fully support Banano.

[2021-04-21 18:36] SrBrahma commented on #76
Have you fixed it? Same issue here

[2021-04-22 07:45] bluppfisk commented on #76
I came across a post that says trying to install dbus-next. So, inside the virtual environment, run
`pip install dbus-next`. I haven't tried. What OS are you on?

[2021-06-02 10:09] bluppfisk commented on #74
gir seems necessary for the appindicator interface which allows you to create the top menu bar icons and menus. I think libcairo2-dev can be dropped from the requirements. I need time to test this all out :)

If it works for you, kindly let me know which distro :)

[2021-07-17 20:51] Fallast opened #85 "number price next to cryptocurrency icon not being displayed"
![image](https://user-images.githubusercontent.com/61057195/126049022-d6f79676-fc9e-4e7c-98bf-32d7fe4bd31f.png)

the panel im using is Tint2, i also tried with xfce-panel but its not showing up either, only the icons

[2021-07-19 07:38] bluppfisk commented on #85
Hi Brian

Do you have examples of app indicators that do have labels on this shell? It may simply not support it or need a setting.

[2021-07-19 12:54] Fallast commented on #85
you are right its not supported

[2021-07-19 12:54] #85 closed

[2021-11-09 23:13] RichterGB commented on #66
What about the icon created by the system? can we remove it?
![image](https://user-images.githubusercontent.com/88848954/141020503-447c582c-e083-439b-8a8a-1447f5f3f216.png)

[2021-11-11 07:24] bluppfisk commented on #66
Hello Paul

remove /usr/share/applications/coindicator.desktop

It will probably take a little while for this to take effect as it is
cached.

Best regards,

--
Sander Van de Moortel
Communication and IT
NL - EN - SV - FR - DE - ZH

+32 473 888 408 (Belgium)
skype: sandervdm

On Wed, Nov 10, 2021 at 12:13 AM RichterGB ***@***.***> wrote:

[2022-04-23 02:44] ealcober opened #91 "strange error on Ubuntu 20.04"
Hi After running 'install.sh' I tried to execute the program and get this error
[code]

[2022-04-25 09:39] bluppfisk commented on #91
Sounds like you don't have requests installed. Activate the environment and install requests with pip3, you may try the --upgrade flag

[2022-04-25 09:40] bluppfisk commented on #81
did you install `python3-pygame` too?

[2022-04-25 09:41] bluppfisk commented on #76
closing due to inactivity

[2022-04-25 09:41] #76 closed

[2022-04-27 19:49] bluppfisk commented on #91
can you activate the environment and do a `pip3 freeze | grep requests`?

[2022-04-28 18:59] ealcober commented on #91
Of course. Thanks. Command does not throw any output :/

On Wed, 27 Apr 2022 at 21:50, bluppfisk ***@***.***> wrote:

[2022-04-28 19:01] bluppfisk commented on #91
Then I believe it is not installed. Note it must be installed in the virtual environment, not system-wide.

Output should be as below:

[code]

[2022-05-05 16:04] peinfant54 opened #92 "Problem with installation in Ubuntu 22.04"
~/coinprice-indicator$ python3 coin/coin.py
pygame 2.1.2 (SDL 2.0.16, Python 3.10.4)
Hello from the pygame community. https://www.pygame.org/contribute.html
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/urllib3/connection.py", line 169, in _new_conn
    conn = connection.create_connection(
  File "/usr/lib/python3/dist-packages/urllib3/util/connection.py", line 73, in c

[2022-05-05 17:48] peinfant54 commented on #92
Hi, thanks you for answering me so fast.

Where can I find the user.conf file?

[2022-05-05 20:14] nsukucredence commented on #92
Hi @peinfant54 I got it running by going to ~/home/coinprice-indicator/coin/exchanges and delete mxc.py
I hope it works for you. Thanks

[2022-05-05 20:30] peinfant54 commented on #92
Hi @nsukucredence Thanks, works perfectly!!!

[2022-05-09 09:12] bluppfisk commented on #92
That's drastic, but it will work too :)
user.conf is usually in the coinprice-indicator folder

[2022-05-09 09:12] bluppfisk commented on #91
closing for now

[2022-05-09 09:12] #91 closed

[2022-08-06 17:25] Umair8t opened #93 "I Cant Install"
Hello,
After i ran the install.sh i got the error.

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
libcairo2-dev is already the newest version (1.16.0-5).
libdbus-glib-1-2 is already the newest version (0.110-6).
gir1.2-gtk-3.0 is already the newest version (3.24.24-4+deb11u2).
python3-pip is already the newest version (20.3.4-4+deb11u1).
python3-v

[2022-08-07 20:08] bluppfisk commented on #93
looks like the coindicator.desktop was corrupted You can remove the one in share/applications and reinstall the one from this repo

[2022-09-18 22:21] peinfant54 opened #94 "Running in ubuntu 22.04"
Hi, I'm having trouble with a new installation. When I run the app with "./run.sh", I get the next output:

Hello from the pygame community. https://www.pygame.org/contribute.html
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/urllib3/connection.py", line 169, in _new_conn
    conn = connection.create_connection(
  File "/usr/lib/python3/dist-packages/urllib3/util/connec

[2022-09-19 09:00] bluppfisk commented on #94
Deactivate the mxc plugin. I'm pretty sure that service is down.

[2022-09-19 16:19] peinfant54 commented on #94
Hi bluppfisk, How can I do that?

Thanks

[2022-09-19 21:28] bluppfisk commented on #94
Hello

In user.conf, change mxc: true to mxc: false.

Best regards,

Sander

On Mon, Sep 19, 2022 at 6:19 PM peinfant54 ***@***.***> wrote:

[2022-09-19 21:54] peinfant54 commented on #94
Hi bluppfisk.

I did what you said but in my User.conf file, there was no reference to MXC, so I wrote, as you said, "mxc:false", under the plugin section.

After that, when running the app, I got the next error:
ModuleNotFoundError: No module named 'notify2'

But I solved just by installing the notify2 library, with "pip3 install notify2".

After that everything was working perfectly!!!

Thanks f

[2022-09-19 22:15] #94 closed

[2022-10-11 07:39] ealcober commented on #91
Ok it's installed but it don't works thats all...

El lun., 9 may. 2022 11:13, bluppfisk ***@***.***> escribió:

[2022-10-11 07:42] bluppfisk commented on #91
without any error output I don't think there's anything I can do to help

[2022-10-14 02:38] RaJiska commented on #92
Hi, little update on this issue; I just had the same after a fresh install. Setting a `mxc: false` in a manually-crafted `user.conf` file did not work. Deleting the whole plugin as suggested above made it work. Perhaps a graceful handling of dead API could be a good to have :)

[2022-10-30 19:28] bluppfisk commented on #93
I've updated the install script, things should work better now.

[2022-10-30 19:28] #93 closed

[2022-10-30 19:29] bluppfisk commented on #92
Problem solved in 2.0.1

[2022-10-30 19:29] #92 closed

[2022-10-30 19:29] bluppfisk commented on #81
I think 2.0.1 solves most of this. If not, please reopen

[2022-10-30 19:29] #81 closed

[2022-10-30 19:30] bluppfisk commented on #74
Strongly reduced dependencies in 2.0.1

[2022-10-30 19:30] #74 closed

[2022-10-30 19:30] bluppfisk commented on #72
closing due to inactivity, also, 2.0.1 is likely to fix most of these issues

[2022-10-30 19:30] #72 closed

[2022-10-30 19:38] bluppfisk commented on #75
closing due to inactivity

[2022-10-30 19:38] #75 closed

[2022-11-17 09:38] Umair8t commented on #93
Still I cant install.... :((

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
libdbus-glib-1-2 is already the newest version (0.112-2build1).
gir1.2-appindicator3-0.1 is already the newest version (12.10.1+20.10.20200706.1-0ubuntu1).
patchelf is already the newest version (0.14.3-1).
python3-pip is already the newest version (22.0.2+dfsg-1).
gir1.2-

[2022-11-17 09:41] bluppfisk commented on #93
does apt install meson solve it?

[2022-11-17 09:44] Umair8t commented on #93
No....

umair@myubuntu:~/Downloads/coindicator-master$ sudo apt install meson
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
meson is already the newest version (0.61.2-1).
The following packages were automatically installed and are no longer required:
  linux-headers-5.15.0-43 linux-headers-5.15.0-43-generic linux-image-5.15.0-43-generic linux-mod

[2022-11-17 09:56] bluppfisk commented on #93
yes to build dbus you'd need a bunch of dependencies
do you have `python3-wheel` installed? I'd assume it could pull a wheel instead of building dbus from source.

[2022-11-17 10:08] Umair8t commented on #93
yes it is installed:

umair@myubuntu:~/Desktop$ sudo apt-get install -y python3-wheel
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
python3-wheel is already the newest version (0.37.1-2).
python3-wheel set to manually installed.
The following packages were automatically installed and are no longer required:
  linux-headers-5.15.0-43 linux-headers-

[2022-11-17 10:19] bluppfisk commented on #93
there's a few cues here, may depend on which distro you are using:

https://stackoverflow.com/questions/61285415/no-package-dbus-1-found

[2022-11-17 19:06] Umair8t commented on #93
Installation is done i think after many tries umair@myubuntu:~/Downloads/coindicator-master$ sh install.sh
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
libdbus-glib-1-2 is already the newest version (0.112-2build1).
gir1.2-appindicator3-0.1 is already the newest version (12.10.1+20.10.20200706.1-0ubuntu1).
patchelf is already the newest version (

[2022-11-17 19:50] Umair8t commented on #93
umair@myubuntu:~/Downloads/coindicator-master$ python3 src/coin/coin.py &
[1] 4140
umair@myubuntu:~/Downloads/coindicator-master$ Traceback (most recent call last):
  File "/home/umair/Downloads/coindicator-master/src/coin/coin.py", line 29, in <module>
    from coin.about import AboutWindow
  File "/home/umair/Downloads/coindicator-master/src/coin/coin.py", line 29, in <module>
    from coin.abou

[2022-11-18 10:51] bluppfisk commented on #93
after running ./install.sh it should be available from the applications menu on Ubuntu. Alternatively, you can simply run 'coin'.

[2022-11-18 15:45] Umair8t commented on #93
from application there is no response from command it shows:

umair@myubuntu:/Downloads/coindicator-master$ python3 src/coin/coin.py &
[1] 4140
umair@myubuntu:/Downloads/coindicator-master$ Traceback (most recent call last):
File "/home/umair/Downloads/coindicator-master/src/coin/coin.py", line 29, in
from coin.about import AboutWindow
File "/home/umair/Downloads/coindicator-master/src/coin/coin.p

[2022-11-18 16:00] bluppfisk commented on #93
should be installed as an executable, no need to use python3

[2022-11-18 16:03] Umair8t commented on #93
yes, i can see but it is not working. for your kind information i am running your app on VMWare Workstation VM is there anything else i need to do?

[2022-11-18 18:15] bluppfisk commented on #93
have you tried running just `coin` from the shell?